html {
  font-size: 19px;
  background-color: #F9F9FB;
}

a, a:visited {
  color: #607aff;
}


body > main, body > footer, body > header {
  margin-left: auto; 
  margin-right: auto;
}

body > header {
  text-align: center;
}

header nav a {
  margin-right: 18px;
  color: #000; 
  text-decoration: underline;
}

header nav a:visited {
  color: #000;
}

ul li { 
  margin-bottom: 1em;
}