<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <header class="page-header">
        <a href="/" class="page-header__logo" title="Go home">
            
        </a>

        <nav>
            <a href="/">Notebook</a>
            <a href="/about">About</a>
            <span>★</span>
            <a href="/notes/prolific%20creation/">Prolific Creation</a>
            <a href="/notes/writing">Writing</a>
            <a href="/notes/friendliness/">Friendliness</a>
            <a href="/notes/web3/">Web3</a>
            <a href="/notes/thought%20exercises/">Thought Exercises</a>
            <a href="/notes/eponymous%20laws/">Adages</a>
        </nav>
    </header>
    <main>
        {{content}}
    </main>
    
    <footer class="page-footer">
        <small>Copyright {{site.author}}</small>
        <small><a href="/meta/missing/">Broken Links</a></small>
    </footer>
</body>
</html>